<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Person Form</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form [formGroup]="formModel" class="form-horizontal">
    <div class="box-body">
      <div class="form-group" [class.has-error]="formModel.get('name').invalid && formModel.get('name').touched">
        <label for="Name" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-4">
          <input formControlName="name" type="text" class="form-control" id="Name" placeholder="Name" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        </div>
        <div *ngIf="formModel.get('name').invalid && formModel.get('name').touched" class="form-group has-error">
          <span class="help-block">Name is required!</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>

        <div class="col-sm-4">
          <select formControlName="gender" class="form-control">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
      <div class="form-group" [class.has-error]="formModel.get('age').invalid && formModel.get('age').touched">
        <label for="Age" class="col-sm-2 control-label">Age</label>

        <div class="col-sm-4">
          <input formControlName="age" type="text" class="form-control" id="Age" placeholder="Age" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        </div>
        <div *ngIf="formModel.get('age').invalid && formModel.get('age').touched" class="form-group has-error">
          <span class="help-block">Age invalid, please enter a number between 18-60</span>
        </div>
      </div>
      <div class="form-group" [class.has-error]="formModel.get('phone').invalid && formModel.get('phone').touched">
        <label for="Phone" class="col-sm-2 control-label">Phone</label>

        <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon">+86</span>
            <input formControlName="phone" type="text" class="form-control" id="Phone" placeholder="Phone" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
          </div>
        </div>
        <div *ngIf="formModel.get('phone').invalid && formModel.get('phone').touched" class="form-group has-error">
          <span *ngIf="formModel.hasError('pattern','phone')" class="help-block">Numbers invalid, only support for local +86 number</span>
          <span *ngIf="formModel.hasError('required','phone')" class="help-block">Phone number is required!</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Department</label>

        <div class="col-sm-4">
          <select formControlName="department" class="form-control">
            <option>Accounting and Finance</option>
            <option>Information Technology</option>
            <option>Production and Quality Assurance</option>
            <option>Research and Development</option>
            <option>Human Resource Management</option>
            <option>Marketing</option>
            <option>Purchasing</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Degree</label>

        <div class="col-sm-4">
          <select formControlName="degree" class="form-control">
            <option>Bachelor</option>
            <option>Master</option>
            <option>Doctor</option>
            <option>None</option>
          </select>
        </div>
      </div>
      <div class="form-group" [class.has-error]="formModel.get('jobnumber').invalid && formModel.get('jobnumber').touched">
        <label for="JobNumber" class="col-sm-2 control-label">JobNumber</label>

        <div class="col-sm-4">
          <input formControlName="jobnumber" type="text" class="form-control" id="JobNumber" placeholder="JobNumber" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        </div>
        <div *ngIf="formModel.get('jobnumber').invalid && formModel.get('jobnumber').touched" class="form-group has-error">
          <span class="help-block">Must only contain 8 numbers</span>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-default" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-info pull-right" (click)="save()" [disabled]="formModel.invalid || formModel.pristine">Save</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>
