<div class="box">
  <div class="box-header with-border">
      <div>
        <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add</button>
      </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Degree</th>
        <th>JobNumber</th>
      </tr>
      <tr *ngFor="let person of persons;let i = index;">
        <td>{{i+1}}</td>
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>{{person.gender}}</td>
        <td>{{person.department}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.degree}}</td>
        <td>{{person.jobNumber}}</td>
      </tr>
      </tbody></table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>


