<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Stock Info</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form [formGroup]="formModel" class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Stock Name</label>

        <div class="col-sm-5">
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Stock Name" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            <div *ngIf="formModel.get('name').touched && formModel.get('name').invalid"
                 class="alert alert-danger">
              <div *ngIf="formModel.hasError('required','name')">
                Name is required.
              </div>
              <div *ngIf="formModel.hasError('minlength','name')">
                Name must be 3 characters long.
              </div>
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Stock Price</label>

        <div class="col-sm-5">
          <input formControlName="price" type="number" class="form-control" id="price" placeholder="Stock Price" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
            <div *ngIf="formModel.get('price').invalid && formModel.get('price').touched"
               class="alert alert-danger">
              <div>
                Price is required.
              </div>
            </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Stock Rating</label>

        <div class="col-sm-10" style="padding-top: 7px">
          <app-stars [(rating)]="stock.rating"></app-stars>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Stock Description</label>

        <div class="col-sm-8">
          <textarea formControlName="desc" class="form-control" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Categories</label>

        <div class="col-sm-10" formArrayName="categories">
          <div class="row">
            <div *ngFor="let category of categories; let i = index" class="col-sm-2">
              <div class="checkbox">
                <label>
                  <input [formControlName]="i" type="checkbox">{{category}}
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="formModel.get('categories').touched && formModel.hasError('categoriesError','categories')"
                       class="alert alert-danger">
            <div>
              At least choose one item
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" (click)="cancel()" class="btn btn-default">Cancel</button>
      <button type="submit" (click)="save()" [disabled]="formModel.invalid" class="btn btn-info pull-right">Save</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>
